.chat-window {
    border: 1px solid #e5e5e5;
    height: 300px;
    width: 100%;
    overflow: auto;
}

.chat-input {
    border: 1px solid #e5e5e5;
    width: 100%;
}

.chat-label {
  margin-right: 1em;
}
